In [2]:
# Sets are unoredered, unchangeable, and do not allow duplicate elements.
# Duplicates are ignored
# Sets are defined using curly braces or the set() constructor

my_set = {'apple', 'banana', 'cherry', 'apple'}  # 'apple' will be ignored as it is duplicate
print(my_set)

{'banana', 'cherry', 'apple'}

In [ ]:
# Getting the length of the set

this_set = {1,4,1,3,4} # Duplicates will be ignored, so it will only contain unique elements
print(len(this_set))

3

In [5]:
# Getting the data type of a  set

set1 = {1,2,3}
print('The data type of set1 is ', type(set1))

set2 = {"Apple", "Banana", "Cherry"}
print('The data type of set2 is ', type(set2))

The data type of set1 is  <class 'set'>
The data type of set2 is  <class 'set'>

In [7]:
# Using the set() constructor
my_set = set(('apple', 'banana','cheery'))
print(my_set)

{'banana', 'apple', 'cheery'}

In [ ]:
# Accessing the items in the set
# We cannot directly access the items in the set as it is unordeed
# However, we can loop through the set to access its items

my_set = {'apple', 'banana', 'cherry'}
for item in my_set:
    print(item)

In [10]:
# Checking if an item exists in a set or not
my_set = {'apple', 'banana', 'cherry'}
for x in my_set:
    if x == 'banana':
        print("Yes", x, "item is present in the set")

Yes banana item is present in the set

In [12]:
# adding the items to a set
my_set = {'apple', 'banana', 'cherry'}
my_set.add('orange')
print('Updated set is', my_set)

Updated set is {'banana', 'orange', 'cherry', 'apple'}

In [13]:
# Add sets
my_set = {'apple', 'banana', 'cherry'}
my_set1 = {'orange', 'kiwi', 'melon'}
my_set.update(my_set1)
print('Updated set after adding another set is', my_set)

Updated set after adding another set is {'banana', 'cherry', 'apple', 'orange', 'kiwi', 'melon'}

In [15]:
# Removing items from a set
# We cam remove the item from the set using the remove() or discard() method
my_set = {'apple', 'banana', 'cherry'}
my_set.remove('banana')  
print('Set after removing banana is', my_set)

Set after removing banana is {'cherry', 'apple'}

In [18]:
# USing discard() method to remove an item from the set
my_set = {'apple', 'banana', 'cherry'}
my_set.discard('banana')
print("Set after removing the item is", my_set)

Set after removing the item is {'cherry', 'apple'}

In [19]:
# Using  pop() method to remove an random item from the set
my_set = {'apple', 'banana', 'cherry'}
my_set.pop()
print('Set after removing an item using pop() method is', my_set)

Set after removing an item using pop() method is {'cherry', 'apple'}

In [21]:
# Using the clear() method to remove the items from the set
my_set = {'apple', 'banana', 'cherry'}
my_set.clear()
print('Set after clearing all items is', my_set)

Set after clearing all items is set()

In [24]:
# Using del keyword to remove the set 
my_set = {'apple', 'banana', 'cherry'}
del my_set
# It  will raise an error as my_set is deleted if we try to access it or print it